<h3>Welcome to ActiveRecord + Sinatra!</h3>
<form action="/submit" method="POST">
	<input type="text" name="user[name]" placeholder="Enter Name" /><br/>
	<input type="text" name="user[email]" placeholder="Enter Email" /><br/>
	<input type="submit" value="Submit" />
</form>
